.colaborators > h3, .collaborator > h5, .description > h2 {
    color: rgba(20, 20, 20, 0.945);
    font-weight: bold;
}

.description > p {
    width: 75%;
    font-size: 1.2em;
}

.icon {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.collaborator, .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.aboutMe > p.text-center {
    max-width: 40ch;
}
