extends master.pug
block head
    title Sobre Nós
    link(rel="stylesheet" href="../css/aboutPage.css")
block content
    div.description
        h2.d-flex.justify-content-center.mt-5 Mapa da Violência
        p.text-center Plataforma desenvolvida por estudantes do Curso Técnico de Informática para a Internet do Instituto Federal de Ciência e Educação do Rio Grande do Sul câmpus Rio Grande, com o intuito de auxiliar no entendimento da violência mundial.
    hr.w-50
    div.colaborators.d-flex.flex-column.mt-3
        h3.text-center.mb-5 Colaboradores
        div.d-flex.justify-content-around.mb-5.flex-wrap
            div.collaborator
                img(src="../img/pedro.jpeg").icon
                h5 Pedro Nunes
                div.aboutMe
                    p.text-center.align-self-center Estudante do curso integrado Informática para Internet.
            div.collaborator
                img(src="../img/diego.jpeg").icon
                h5 Diego Costa
                div.aboutMe
                    p.text-center.align-self-center Estudante do curso integrado Informática para Internet.
            div.collaborator
                img(src="../img/cassiana.jpeg").icon
                h5 Cassiana Silveira
                div.aboutMe
                    p.text-center.align-self-center Estudante do curso integrado Informática para Internet.
            div.collaborator
                img(src="../img/marcio.jpg").icon
                h5 Márcio Josué Ramos Torres
                div.aboutMe
                    p.text-center.align-self-center  Desenvolvedor de softwares desde a decada de 90 trabalha atualmente como professor no IFRS câmpus Rio Grande.
            div.collaborator
                img(src="../img/dardo.jpeg").icon
                h5 Dardo Lorenzo Bornia Junior
                div.aboutMe
                    p.text-center Professor graduado em Ciências Sociais e doutor em Antropologia, atuante no IFRS câmpus Rio Grande.
        block foot
