extends master.pug
block head
    title Sobre Nós
    link(rel="stylesheet" href="../css/aboutPage.css")
block content
    div.description.d-flex.flex-column.align-items-center
        h2.d-flex.justify-content-center.mt-5 Mapa da Violência
        p.text-center Plataforma desenvolvida por estudantes do Curso Técnico de Informática para a Internet do Instituto Federal de Ciência e Educação do Rio Grande do Sul câmpus Rio Grande, com o intuito de auxiliar no entendimento da violência mundial.
    hr.w-50
    div.colaborators.d-flex.flex-column.mt-3
        h3.text-center.mb-5 Colaboradores
        div.d-flex.justify-content-around.mb-5.flex-wrap
            div.collaborator.d-flex.flex-column.align-self-center
                div.icon.align-self-center
                    div.ilustration
                     img(src="../img/pedro.jpeg").icon
                    div
                    h5.justify-content-center.d-flex Pedro Nunes
                div.aboutMe
                    p.text-center.align-self-center Estudante do curso integrado Informática para Internet. Idade: 16 Anos.
            div.collaborator.d-flex.flex-column.align-self-center
                div.icon.align-self-center
                    div.ilustration
                     img(src="../img/diego.jpeg").icon
                    div
                    h5.justify-content-center.d-flex Diego Costa
                div.aboutMe
                    p.text-center.align-self-center Estudante do curso integrado Informática para Internet. Idade: 18 Anos.
            div.collaborator.d-flex.flex-column.align-self-center
                div.icon.align-self-center
                    div.ilustration
                     img(src="../img/cassiana.jpeg").icon
                    div
                    h5.justify-content-center.d-flex Cassiana Silveira
                div.aboutMe
                    p.text-center.align-self-center Estudante do curso integrado Informática para Internet. Idade: 17 Anos.
            div.collaborator.d-flex.flex-column.align-self-center
                div.icon.align-self-center
                    div.ilustration
                     img(src="../img/marcio.jpg").icon
                    div
                    h5.justify-content-center.d-flex Márcio Josué Ramos Torres
                div.aboutMe
                    p.text-center.align-self-center  Professor do Intituto Federal de Ciência e educação do Rio Grande do Sul Câmpus Rio grande.
            div.collaborator.d-flex.flex-column.align-self-center
                div.icon.align-self-center
                    div.ilustration
                     img(src="../img/dardo.jpeg").icon
                    div
                    h5.justify-content-center.d-flex Dardo Lorenzo Bornia Junior
                div.aboutMe
                    p.text-center.align-self-center Professor Doutor do Intituto Federal de Ciência e educação do Rio Grande do Sul Câmpus Rio grande.
        block foot
