extends master.pug
block head
    link(rel="stylesheet", href="../node_modules/plotly.js/dist/plotly.min.js")
    title Estatísticas
block content
    div.container-fluid.d-flex
        h2.flex-start Dados Estatísticos
    hr.w-75
    //- Para graficos

    div.statistics-local.d-flex.flex-column.align-items-center
        div.d-flex.flex-wrap.justify-content-around
            //- classe comum a todos .graphics
            div.graphics.p-2.mt-2.d-flex.flex-wrap
                div.border.border-secondary
                    h5 Classe Social
                    div#classe_social
                div.border.border-secondary
                    h5 Etnia
                    div#etnia
                div.border.border-secondary
                    h5 Gênero
                    div#genero
                div.border.border-secondary
                    h5 Idade
                    div#idade
                div.border.border-secondary
                    h5 Violência Física
                    div#fisica
                div.border.border-secondary
                    h5 Violência Material
                    div#material
                div.border.border-secondary
                    h5 Violência Psicológica
                    div#psicologica
                div.border.border-secondary
                    h5 Violência Sexual
                    div#sexual

        hr.w-50
        div.download.d-flex.flex-column
            h4.download-title Você é um 'ciêntista de dados' ou tem interesses? Faça download
            a(href="#") Leia os termos
            div.d-flex.justify-content-center.align-self-start
                input#termos(type="checkbox")
                label(for="termos") Concordo com os termos acima
            a.btn.btn-primary.w-25.align-self-end(href="#") Baixar
block foot.sugestion
block script
    script(src="../js/statistics.js")
